# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/
coverage.json
*.log

# Next.js
.next/
out/
build/
dist/

# Environment variables
.env
.env*.local

# Hardhat
cache/
artifacts/
typechain-types/

# IDEs
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Misc
*.tsbuildinfo
.turbo

docs/